<header class="header">
    <div class="header__game">
        <img class="header__game-img" src="../../assets/play.png" alt="">
        <h1 class="header__game-h1">Bienvenido a la web interactiva</h1>
    </div>
    <nav class="header__nav">
            <a routerLink="/">Home</a>
            <a routerLink="/TiposdeCambio">Tipos de Cambio</a>
            <a routerLink="/BusquedadelTesoro">Busqueda del Tesoro</a>
            <a routerLink="/WhackaMole">Whach a Mole</a>
            <a routerLink="/Memo">Memo</a>
    </nav>
</header>