<div class="div">
    <div class="div__div">
        <h5 class="div__div-h5">Siguenos en:</h5>
        <h5 class="div__div-h5-2"> <a class="a" href="https://twitter.com/upgrade_empresa"> Twitter</a> &nbsp;&nbsp; |
            &nbsp;&nbsp; <a class="a" href="https://www.facebook.com/UpgradeHub/"> Facebook</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a
            class="a" href="https://www.instagram.com/upgrade_hub/"> Instragram</a>
            &nbsp;&nbsp; | &nbsp;&nbsp; <a class="a" href="https://www.youtube.com/channel/UCMKfvNjCIdfA2BpEnlVDT-w"> Youtube </a>
        </h5>
    </div>
</div>